<!DOCTYPE html>
<html>
  <head>
    <title>Free Your Code</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-responsive.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
